
/*----------------------------------------- Fonts & Formatting */

p, h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,.7); /*- same as menu color */
}

p {
    color: rgba(0,0,0,.5); /*- same as menu color */
}

.uppercase {
    text-transform: uppercase;
}

/*----------------------------------------- Layout: General */

.container-fluid {
    max-width: 980px;
    padding-left: 0px;
    padding-right: 0px;
}

/*----------------------------------------- Layout: Podcast */

.subscribe {
    height: 2.85rem;

    /*
    display: flex; 
    padding: 7px; 
    margin: 5px 0px 5px 15px;
    */
}

.listen {
    display: flex;
    color: grey;
    font-size: 12px;
    margin-top: 10px;
}

/*------------------------------ Layout: About */


.photo {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    border-radius: 50%;
    height: 120px;
}

.bio-width {
    max-width: 675px;
}

/*
.center-content {
    display: flexbox;
    justify-content: center;
    align-items: center;
}




/*----------------------------------------- NavBar */

.no-curve {
    border-radius: 0;
}

.navbar {
    border-bottom: 1px solid grey;
    background-color: #fff;
    padding: .5rem .5rem;
}

.navbar-nav {
    flex-direction: row;
    align-items: flex-end;
    margin-left: 0;
    font-family: 'Roboto', sans-serif;
}

.logo-font {
    font-family: 'Mate SC', sans-serif;
    font-weight: 200;

/*---
Choices:
Roboto
Ubuntu - cool!
Mate   - bit cheap
Mate SC
Bebas Neue - bit cheap
Teko
Source Serif Pro
--*/

}

.navbar-brand {
    /*- Keeps text good size on really small screen -*/
    font-size: 1.25rem;
}

/*----------------------------------------- Colours */

.btn-outline-danger {
    /*- Patreon Colour -*/
    color: #FF424D;
}

.btn-danger,
.btn-outline-danger:hover {
    /*- Patreon Colour -*/
    background-color: #FF424D;
    color: #fff;
    
}

.btn-outline-warning {
    color: #4c326e;
    border-color: #fff;
}

.btn-outline-warning:hover {
    background-color: #7036d2;
    border-color: #fff;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.navbar-light .icon-color {
    /*- Icon color with gradient -*/
    background: -webkit-linear-gradient(rgb(233, 105, 0), rgb(255, 217, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*----------------------------------------- Hover.css FX */
.hvr-underline-from-left:before {
    background-color: rgb(255, 217, 0); 
}

/*----------------------------------------- Footer */
footer {
    height: 100px;
}

.footer-container {
    height: 100px;
    background-color: #000000;
    color:#fff;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}

.footer-container a {
    color:#fff;
}

/*-- 
.footer-container p {
    font-size: 10px;
    color: rgb(212, 209, 209);
    
}
*/



input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}







/*-- MEDIA */

/*--
@media (max-width: 310px) { 
    
    .navbar-brand {
        /*- Keeps logo text on really small screen -*/   /*--
        font-size: 1rem;
    }


/*--
    .navbar-nav {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        font-family: 'Roboto', sans-serif;
    }

    .nav-item {
        flex-direction: row;
    }

    .col-sm {
        padding-left: 0px;
        padding-right: 0px;
    }

    .row {
        flex-wrap: nowrap;
    }
    

 }

